In [2]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("/opt/ml/web_serving/problem_dataset/서울시 우리말문제 정보.csv")

In [5]:
df.head()

,문제키값,문제,오픈일자,보기순번,보기정보,정답여부
0,825,다음 중 ( )속의 말이 틀린 것은?,20151231,4621,그것은 나만의 (넋두리)였다.,NaN
1,825,다음 중 ( )속의 말이 틀린 것은?,20151231,4622,나는 그를 별로 좋아하지 않는다. (더욱이) 그도 나를 좋아하지 않는다.,NaN
2,825,다음 중 ( )속의 말이 틀린 것은?,20151231,4623,어제는 부장님 아기의 (돌)잔치에 다녀왔어요.,NaN
3,825,다음 중 ( )속의 말이 틀린 것은?,20151231,4624,무능한 선배의 (뒤치다거리)하는 신세라니 한심하다.,정답
4,824,다음 중 ( )속의 말이 틀린 것은?,20151230,4617,(고깔) 모자를 쓴 아이들이 지나간다.,NaN

In [6]:
df['문제키값'].nunique()

824

In [10]:
df["정답여부"].unique()

array([nan, '정답'], dtype=object)

In [11]:
df['정답여부'] = df['정답여부'].transform(lambda x: 1 if x == "정답" else 0)

In [8]:
df.head()

,문제키값,문제,오픈일자,보기순번,보기정보,정답여부
0,825,다음 중 ( )속의 말이 틀린 것은?,20151231,4621,그것은 나만의 (넋두리)였다.,0
1,825,다음 중 ( )속의 말이 틀린 것은?,20151231,4622,나는 그를 별로 좋아하지 않는다. (더욱이) 그도 나를 좋아하지 않는다.,0
2,825,다음 중 ( )속의 말이 틀린 것은?,20151231,4623,어제는 부장님 아기의 (돌)잔치에 다녀왔어요.,0
3,825,다음 중 ( )속의 말이 틀린 것은?,20151231,4624,무능한 선배의 (뒤치다거리)하는 신세라니 한심하다.,1
4,824,다음 중 ( )속의 말이 틀린 것은?,20151230,4617,(고깔) 모자를 쓴 아이들이 지나간다.,0

In [14]:
df['문제키값'].value_counts().describe()

count    824.000000
mean       3.992718
std        0.098323
min        2.000000
25%        4.000000
50%        4.000000
75%        4.000000
max        4.000000
Name: 문제키값, dtype: float64

In [ ]:
# 선택형 문제, 2개 또는 4 개의 문항이 있음

In [16]:
(df['문제키값'].value_counts() == 2).sum()

1

In [17]:
(df['문제키값'].value_counts() == 3).sum()

4

In [18]:
(df['문제키값'].value_counts() == 4).sum()

819

In [1]:
df["문제"].nunique()

NameError: name 'df' is not defined

In [22]:
# 총 824개의 문제가 있고, 고유한 문제는 695가지가 있음

In [21]:
len(df)

3290

In [ ]:
# 824개 -> 82개의 시험지로 나누어
# 10개의 문항이 있는 것이 80개, 12개의 문항이 있는 시험지가 2개로 하면 될 듯

In [187]:
problem_ids = df["문제키값"].unique()

In [189]:
len(set(problem_ids))

824

In [21]:
dkt_train_test_df = pd.read_csv("/opt/ml/input/data/train_dataset/test_data.csv")

In [26]:
# 기본적인 사용자 acc는

In [22]:
prob_per_teset = dkt_train_test_df[['testId', 'assessmentItemID']].groupby(['testId']).nunique()['assessmentItemID'].to_dict()

In [125]:
selectible_tids = [t for t,v in prob_per_teset.items() if v == 8]

In [126]:
len(selectible_tids)

218

In [128]:
selectible_tids = np.array(selectible_tids)

In [129]:
tid_choice = np.random.choice(range(len(selectible_tids)), (103, ), replace=False)
choosed_test_ids = selectible_tids[tid_choice]

In [159]:
len(set(choosed_test_ids))

103

In [64]:
from collections import Counter
num_counter = Counter(prob_per_teset.values())

In [160]:
num_counter

Counter({5: 605,
         4: 63,
         8: 218,
         6: 295,
         3: 7,
         7: 270,
         2: 1,
         10: 8,
         11: 3,
         9: 56,
         13: 1,
         12: 10})

In [68]:
# 8 문제 짜리를 103개 시험지 만들어야 할 듯...

In [197]:
np.random.shuffle(problem_ids)
print(len(set(problem_ids)))
problem_sets = []
for i in range(103):
    problem_sets.append(problem_ids[8*i:8*i+8])

824

In [163]:
len(set(problem_ids))

824

In [198]:
tid_problems = {}
for tid, problem_set in zip(choosed_test_ids, problem_sets):
    tid_problems[tid] = problem_set

In [199]:
len(tid_problems)

103

In [204]:
kor_prob_to_dkt_id = {}
kor_prob_to_dkt_tid = {}

x = 0
for tid, pset in tid_problems.items():
    prob_tid = tid[:3] + tid[-4:]

    kor_prob_list.extend(pset)
    for i, kor_prob in enumerate(pset):
        kor_prob_set.add(kor_prob)
        kor_prob_to_dkt_tid[kor_prob] = tid
        pid = prob_tid + str(i+1).zfill(3)
        kor_prob_to_dkt_id[kor_prob] = pid

In [207]:
dkt_pids = dkt_train_test_df["assessmentItemID"].unique()

In [208]:
wrong_pid = [p for p in pids if p not in dkt_pids]

In [209]:
print(wrong_pid)

[]

In [121]:
len(pids)

824

,문제키값,문제,오픈일자,보기순번,보기정보,정답여부
0,825,다음 중 ( )속의 말이 틀린 것은?,20151231,4621,그것은 나만의 (넋두리)였다.,0
1,825,다음 중 ( )속의 말이 틀린 것은?,20151231,4622,나는 그를 별로 좋아하지 않는다. (더욱이) 그도 나를 좋아하지 않는다.,0
2,825,다음 중 ( )속의 말이 틀린 것은?,20151231,4623,어제는 부장님 아기의 (돌)잔치에 다녀왔어요.,0
3,825,다음 중 ( )속의 말이 틀린 것은?,20151231,4624,무능한 선배의 (뒤치다거리)하는 신세라니 한심하다.,1
4,824,다음 중 ( )속의 말이 틀린 것은?,20151230,4617,(고깔) 모자를 쓴 아이들이 지나간다.,0

In [212]:
df['dkt_tid'] = df['문제키값'].transform(lambda x: kor_prob_to_dkt_tid[x])

In [213]:
df['dkt_pid'] = df['문제키값'].transform(lambda x: kor_prob_to_dkt_id[x])

In [214]:
df.head()

,문제키값,문제,오픈일자,보기순번,보기정보,정답여부,dkt_tid,dkt_pid
0,825,다음 중 ( )속의 말이 틀린 것은?,20151231,4621,그것은 나만의 (넋두리)였다.,0,A080000066,A080066001
1,825,다음 중 ( )속의 말이 틀린 것은?,20151231,4622,나는 그를 별로 좋아하지 않는다. (더욱이) 그도 나를 좋아하지 않는다.,0,A080000066,A080066001
2,825,다음 중 ( )속의 말이 틀린 것은?,20151231,4623,어제는 부장님 아기의 (돌)잔치에 다녀왔어요.,0,A080000066,A080066001
3,825,다음 중 ( )속의 말이 틀린 것은?,20151231,4624,무능한 선배의 (뒤치다거리)하는 신세라니 한심하다.,1,A080000066,A080066001
4,824,다음 중 ( )속의 말이 틀린 것은?,20151230,4617,(고깔) 모자를 쓴 아이들이 지나간다.,0,A080000097,A080097007

In [217]:
import json

In [299]:
final_dict = {}

In [300]:
for p in problem_ids:
    rows = df[df["문제키값"] == p].reset_index()
    prob_text = rows.iloc[0]["문제"]
    dkt_tid = rows.iloc[0]["dkt_tid"]
    dkt_pid = rows.iloc[0]["dkt_pid"]

    # print(p)
    # print(list(rows["정답여부"]).index(1))

    final_dict[str(p)] = {
        "문제 번호": str(p),
        "문제": prob_text,
        "시험지 id": dkt_tid,
        "문제 id": dkt_pid,
        "문제 id": dkt_pid,
        "답안": list(rows["보기정보"].values),
        # "정답": rows[rows["정답여부"] == 1].index.astype(int)
        "정답": list(rows["정답여부"]).index(1)
    }
    # break

In [288]:
df.drop(df[df["문제키값"] == 761].index, inplace=True)

In [293]:
problem_ids = problem_ids[problem_ids != 761]

In [295]:
len(problem_ids)

823

In [301]:
with open("/opt/ml/web_serving/problem_dataset/fake_korean_problem_set.json", "w", encoding="UTF-8-sig") as f:
    f.write(json.dumps(final_dict, ensure_ascii=False))

In [4]:
import json

In [8]:
prob_dict = json.loads(open("/opt/ml/web_serving/problem_dataset/fake_korean_problem_set.json").read().decode("utf-8-sig"))

AttributeError: 'str' object has no attribute 'decode'

In [9]:
with open("/opt/ml/web_serving/problem_dataset/fake_korean_problem_set.json", encoding="utf-8-sig") as f:
    data = json.load(f)

In [14]:
print(len(data))
print(len(data.keys()))

823
823

In [18]:
for p, v in data.items():
    print(v.keys())
    v['문제 id']
    break

dict_keys(['문제 번호', '문제', '시험지 id', '문제 id', '답안', '정답'])

In [25]:
print(list(data.keys())[0])

26

In [27]:
print(data['26']['시험지 id'])

A070000105

In [36]:
i = 0
for x in df['문제키값'].unique():
    if str(x) not in data.keys():
        print(x)
        i += 1

In [35]:
df.drop(df[df['문제키값'] == 761].index, inplace=True)

1

In [38]:
df['시험지 id'] = df['문제키값'].transform(lambda x: data[str(x)]['시험지 id'])

In [39]:
df['문제 id'] = df['문제키값'].transform(lambda x: data[str(x)]['문제 id'])

In [40]:
df['assessmentItemID'] = df['문제 id']
df['testId'] = df['시험지 id']

In [ ]:
df['KnowledgeTag'] = df['assessmentItemID'].transform()

In [52]:
prob_to_kt = dkt_train_test_df[['assessmentItemID', 'KnowledgeTag']].groupby(['assessmentItemID', 'KnowledgeTag']).to_dict()

AttributeError: 'DataFrameGroupBy' object has no attribute 'unique'

In [56]:
for prob in df['문제 id'].unique():
    kts = dkt_train_test_df[dkt_train_test_df['assessmentItemID'] == prob]['KnowledgeTag'].unique()
    prob_to_kt[prob] = kts[0]

In [58]:
df['KnowledgeTag'] = df['문제 id'].transform(lambda x: prob_to_kt[x])

In [60]:
df.to_csv("/opt/ml/web_serving/problem_dataset/processed_problems.csv")